<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monitoring Project</title>

    <!-- Insert Css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-datetimepicker.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/fontastic.css}">
    <link rel="stylesheet" th:href="@{/css/style.default.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Insert Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
</head>
<body>

</body>
</html>